{% extends '_base.html' %}


{% block page_title %}About me{% endblock page_title %}
{#<h1>{% block page_h1 %}this my {{ page_name }} page {% endblock page_h1 %}</h1>#}

{% block content %}
     <div class="about">
            <h1>Web design development</h1>
            <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Adipisci recusandae eos suscipit rerum
                mollitia
                quae <br> corrupti qui excepturi repudiandae officiis at, et <br> provident quam, ipsum necessitatibus
                eveniet. <br> Soluta, fugit in.
            </p>
            <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Adipisci recusandae eos suscipit rerum
                mollitia
                quae <br> corrupti qui excepturi repudiandae officiis at, et <br> provident quam, ipsum necessitatibus
                eveniet. <br> Soluta, fugit in.
            </p>
     </div>


{% endblock content %}