{% extends '_base.html' %}


{% block page_title %}Delete Disign{% endblock page_title %}


{% block content %}
    <div class="container" style=" width: 73%;height: 500px;
    position: absolute;top: 100px;left: 180px;color: whitesmoke;
    font-size: medium;font-family: Arial;font-weight: bold;
    border: 3px solid goldenrod;border-radius: 8px">
    <div class="card" style="width: auto;height: fit-content;text-align: center;margin: 2%;margin-top: 20%">
        <h1>ARE YOU SURE?</h1>
        <br>
        <P>Are you sure to DELETE {{ design.title }} permanently ?</P>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes,Delete" class="b-DELETE">
        </form>
    </div>
    </div>
{% endblock content %}